.hero {
  position: relative;
  height: 200vh;
  background: #5a2a1f;
  overflow: hidden;
  color: white;
  text-align: center;
  padding-top: 100px;
}

.hero-text {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 120px;
  font-weight: bold;
  color: rgba(255,255,255,0.05);
  white-space: nowrap;
  pointer-events: none;
}

.track {
  font-size: 120px;
  font-weight: bold;
  opacity: 0.05;
  letter-spacing: 10px;
  white-space: nowrap;

  transition: transform 0.3s ease-out;
  will-change: transform;
}
.cafe1 {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 1000px; 
  z-index: 2;
}