.mapa-container {
  padding: 60px 20px;
  background-color: #361712; /* Fundo combinando com o Banner */
  text-align: center;
}

.mapa-titulo {
  color: #B98B2B;
  font-family: 'Lexend Exa', sans-serif;
  margin-bottom: 30px;
  font-size: 2rem;
}

/* Opcional: Deixar o mapa com tom mais escuro */
.gm-style {
  filter: grayscale(10%) contrast(1.1);
}