.app-layout {
  display: flex;
  width: 100%;
  min-height: 100vh; /* Ocupa a altura toda da tela */
}

.main-content {
  flex: 1; /* Ocupa o espaço restante ao lado da sidebar */
  display: flex;
  flex-direction: column; /* Organiza Hero, Cards e Footer em coluna */
  min-width: 0;
  background-color: #1a1a1a; /* Cor de fundo para combinar com o café */
}

/* Isso faz o Footer ser empurrado para o final da página automaticamente */
.main-content footer {
  margin-top: auto; 
}