/* index.css */
/* index.css */
@import url('https://fonts.googleapis.com/css2?family=Lexend+Tera:wght@100..900&display=swap');

html {
  scroll-behavior: smooth; /* Sem o !important para não forçar o script */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Isso faz o width: 100% respeitar o padding */
}

html, body {
  width: 100%;
  overflow-x: hidden; /* Trava qualquer tentativa de scroll lateral */
  background-color: #000;
}

body {
  font-family: 'Lexend Tera', sans-serif;
  line-height: 1.5;
  color: white; /* O padrão do seu site parece ser texto claro sobre fundo escuro */
}